.main-forecast-container{
    display: flex;
}

.forecast-box{
    margin-top: 15px;
    width: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}



.forecast-img img{
    margin: 5px 0 0;
    max-width: 50px;
    width:100% ;
}